{% extends "layout.html.j2" %}

{% block title %}
	<title>Ngeprint.Kuy</title>
{% endblock %}

{% block content %}
	<div class="ui stackable three column middle aligned grid" style="height: 100vh">
		<div class="column"></div>
		<div class="column">
			<h1 class="ui center aligned header">Web Printing Service<div class="sub header">Versi 1.0.0</div></h1>
			<div class="ui top attached icon message">
				<i class="info circle icon"></i>
				<div class="content">
					<div class="header">Informasi</div>
					<p>Pengguna baru harap membaca panduan dengan mengklik menu link yang tersedia dibawah</p>
				</div>
			</div>
			<div class="ui bottom attached padded small form segment">
				<div class="field">
					<div class="ui left icon input">
						<input type="text" name="nama" placeholder="Nama">
						<i class="user icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<input type="text" name="handphone" placeholder="Handphone">
						<i class="mobile alternate icon"></i>
					</div>
				</div>
				<div class="field">
					<div class="ui left icon right action input">
						<i class="pdf file icon"></i>
						<input id="txt-dokumen" type="text" placeholder="Dokumen" readonly>
						<input type="file" name="dokumen" accept="application/pdf" style="display: none">
						<button id="btn-select-file" class="ui icon button"><i class="folder open icon"></i></button>
					</div>
				</div>
				<input type="hidden" name="id" value="{{ id }}">
				<button id="btn-send" class="ui small primary labeled icon button"><i class="send icon"></i>Kirim</button>
			</div>
			<div class="ui text menu">
				<div class="header item"><i class="linkify icon"></i> Menu</div>
				<a href="#" class="item">Panduan</a>
				<a href="#" class="item">Kontak</a>
			</div>
		</div>
		<div class="column"></div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">_.q().index.init();</script>
{% endblock %}
