<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
		<link rel="stylesheet" href="/static/dist/semantic.css">
		{% block title %}{% endblock %}
		<script src="/static/jquery-3.6.0.js" charset="utf-8"></script>
		<script src="/static/dist/semantic.js" charset="utf-8"></script>
		<script src="/static/q.js" charset="utf-8"></script>
	</head>
	<body style="background-color: #f0f0ff">
		{% block content %}{% endblock %}
		{% block script %}{% endblock %}
	</body>
</html>
