{% extends "layout.html.j2" %}

{% block title %}
  <title>Administrator</title>
{% endblock %}

{% block content %}
  {% import "macros.html.j2" as macros %}
  {% call macros.sidebar() %}
    {{ macros.top_menu() }}
    <div class="ui stackable middle aligned grid" style="height: 100vh">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <h1 class="ui center aligned header">Job Detail</h1>
        <div class="ui top attached padded tiny form segment">
          <div class="three fields">
            <div class="field">
              <label>ID :</label>
              <div class="ui left icon input">
                <i class="tag icon"></i>
                <input type="text" name="id" value="{{ id }}" readonly>
              </div>
            </div>
            <div class="field">
              <label>Kode :</label>
              <div class="ui right action input">
                <input type="text" name="kode" readonly>
                <button class="ui tiny icon button">
                  <i class="envelope icon"></i>
                </button>
              </div>
            </div>
            <div class="field">
              <label>Status :</label>
              <select class="ui dropdown" name="status">
                <option value="UNCONFIRMED">Unconfirmed</option>
                <option value="CONFIRMED">Confirmed</option>
                <option value="PRINTED">Printed</option>
                <option value="PAID">Paid</option>
              </select>
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Tanggal :</label>
              <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input type="text" name="tanggal">
              </div>
            </div>
            <div class="field">
              <label>Nama :</label>
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="nama">
              </div>
            </div>
            <div class="field">
              <label>Handphone :</label>
              <div class="ui left icon input">
                <i class="mobile icon"></i>
                <input type="text" name="handphone">
              </div>
            </div>
          </div>
        </div>
        <div class="ui bottom attached padded tiny segment">
          <div class="ui left icon transparent fluid input">
            <i class="pdf file icon"></i>
            <input type="text" name="client_file">
          </div>
          <table class="ui unstackable five column celled table">
            <thead>
              <tr class="right aligned">
                <th></th>
                <th>Grayscale</th>
                <th>Color</th>
                <th>Blank</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Page</td>
                <td id="page_grayscale" class="right aligned"></td>
                <td id="page_color" class="right aligned"></td>
                <td id="page_blank" class="right aligned"></td>
                <td id="page_total" class="right aligned"></td>
              </tr>
              <tr>
                <td>Price</td>
                <td id="price_grayscale" class="right aligned"></td>
                <td id="price_color" class="right aligned"></td>
                <td id="price_blank" class="right aligned"></td>
                <td id="price_total" class="right aligned"></td>
              </tr>
            </tbody>
          </table>
          <button class="ui tiny primary labeled icon button"><i class="save icon"></i>Update</button>
        </div>
      </div>
    </div>
  {% endcall %}
{% endblock %}

{% block script %}
  <script type="text/javascript" id="params" data-id="{{ id }}"></script>
  <script type="text/javascript">_.q().admin.job.init();</script>
{% endblock %}
