{% extends "layout.html.j2" %}

{% block title %}
  <title>Administrator</title>
{% endblock %}

{% block content %}
  {% import "macros.html.j2" as macros %}
  {% call macros.sidebar("Jobs")  %}
    {{ macros.top_menu() }}
    <div class="ui container" style="padding-top: 5em">
      <h1 class="ui header">Jobs</h1>
      <table class="ui unstackable small compact six column table">
        <thead>
          <tr>
            <th></th>
            <th>Status</th>
            <th>Tanggal</th>
            <th>Nama</th>
            <th>File</th>
            <th class="right aligned">Total</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot></tfoot>
      </table>
    </div>
  {% endcall %}
  <template id="row-template">
    <tr>
      <td>
        <div class="ui tiny icon buttons">
          <button id="btn-open" class="ui icon button"><i class="folder open icon"></i></button>
          <button id="btn-delete" class="ui icon button"><i class="trash icon"></i></button>
        </div>
      </td>
      <td>
        <div class="ui pointing dropdown tiny labeled icon button">
          <i class="caret down icon"></i>
          <span class="text">Status</span>
          <div class="menu">
            <div class="item">Confirmed</div>
            <div class="item">Paid</div>
          </div>
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td class="right aligned"></td>
    </tr>
  </template>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    _.q().admin.jobs.init();
  </script>
{% endblock %}
